<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="header">
        <a href="/Shop/Logged" class="logo">x-klon</a>
        <div class="header-right">
            <a class="active" href="#home">Home</a>
            @if (!String.IsNullOrEmpty(ViewBag.login)) {
                <a style="width:auto;">@ViewBag.login</a>
            }
            else {
                <a onclick="document.getElementById('id01').style.display='block'" style="width:auto;" id="lgn_button">Login</a>
            }

            <a id="checkout" href="/Cart/Index">Checkout</a>
        </div>
    </div>

    <div class="container body-content">
        <div id="id01" class="modal">
            <div class="modal-content animate">
                <div class="container">
                    <input class="login-input" type="text" placeholder="Enter Username" id="uname" required>
                    <input class="login-input" type="password" placeholder="Enter Password" id="psw" required>
                </div>

                <div class="container" style="background-color:#f1f1f1; display: flex">
                    <div style="width: 100%; color: red"></div>
                    <button type="button" onclick="document.getElementById('id01').style.display = 'none'" class="cancelbtn">Cancel</button>
                    <button type="submit" class="cancelbtn" onclick="s()">Login</button>
                </div>
            </div>
        </div>
        @RenderBody()
        <hr />
    </div>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var modal = document.getElementById('id01');

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        function s() {
            document.getElementById('id01').style.display = 'none'
            name = $("#uname").val()
            passwd = $("#psw").val()
            $.ajax({
                url: '/Login/Index',
                type: 'POST',
                data: { "name": name, "passwd": passwd },
                success: function () {
                    window.location.href = "/Shop/Logged"
                    $("#lgn_button").html(name) //wydaje mi sie ze zadziala ale nie mam jak przetestowac to sprawdz jeszcze czy sie zmieni
                }
            });
        }
    </script>
</body>
</html>